<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/stylesheet.css}" rel="stylesheet">
    <title>Fejl</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li class="navbar-right" style="float: left"><a th:href="@{/}">Ønskelisten</a></li>
            <li class="navbar-right">
                <span th:if="${user == null}"> <a th:href="sign-in">Log ind</a> </span>
                <span th:unless="${user == null}" > <a th:href="sign-in">Log ud</a> </span>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>