<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/stylesheet.css}" rel="stylesheet">
    <title>Log ind</title>
    <script src="https://kit.fontawesome.com/accc8a4097.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <nav>
        <ul>
            <li class="navbar-right" style="float: left"><a th:href="@{/show-wishlists}">Ønskelisten</a></li>
            <li class="navbar-right">
            </li>
        </ul>
    </nav>
</header>

<form th:action="@{/sign-in}" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="text" name="password">
    <button type="submit">Log ind</button>

</form>

<h4>Har du ikke en profil i forvejen, så kan du oprette en <a th:href="@{/join}">her</a></h4>


</body>
</html>